<div class="col-md-4">
  <!-- Search Widget -->
  <!--
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
  -->

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Short CV</h5>
    <div class="card-body">
      <dl>
        <dt>Studies</dt>
        <dd>Applied Mathematics and Physics</dd>
        <dt>Work</dt>
        <dd>SUSE, testributor.com, incrediblue.com, skroutz.gr</dd>
        <dt>Languages/Technologies</dt>
        <dd>Golang, Ruby, Kubernetes, Containers, Linux</dd>
        <dt>Toolset</dt>
        <dd>Linux, MATE+i3, vim</dd>
        <dt>Passions and Interests</dt>
        <dd>Family, Programming, Sea, Music, Motorcycles</dd>
    </ul>
    </div>
  </div>

  <!-- Categories Widget -->
  <!-- Hide it for now
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">HTML</a>
            </li>
            <li>
              <a href="#">Freebies</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">JavaScript</a>
            </li>
            <li>
              <a href="#">CSS</a>
            </li>
            <li>
              <a href="#">Tutorials</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->

</div>

